/.hg

*.log
*.map
*.orig
.sass*
*.swp
*~
*.iws
._*
*.sublime-project
*.sublime-workspace
.sublime-
sftp-config.json
thumbs.db
.project
.DS_Store
.idea
.phpintel
license.txt
readme.html
sitemap*.xml
sitemap*.xml.gz
Desktop.ini
.Spotlight-V100
.Trashes

node_modules
node_modules/**
node_modules_bck
_gsdata_
wordpress/_gsdata_/
wordpress/wordpress.zip
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/db.php
/wordpress/wordpress.zip
/package-lock.json
