/* Variables */
$theme: "light";

/* Colors */
$primary: #3f51b5;
$accent: #ff4081;
$error: #f44336;
$warning: #ff9800;
$success: #4caf50;

/* Sizes */
$mobileSize: 600px;
$tabletSize: 960px;

@import "partials/functions";
@import "partials/addSlider";
