@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$laptop: 1366px;
$tablet: 1024px;
$mobile: 768px;
$extraSmall: 475px;
$mainColor: #0087ff;
$dbColor: #ffb000;
$balancerColor: #09b475;

@import "flags";
@import "features";
@import "addSlider";

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  &.jelastic-calculator-example {
    padding: 0 15px;
  }
}

.j-calculator {
  max-width: 1250px;
  margin: 0 auto;
  font-size: 26px;
  position: relative;

  @media (max-width: $laptop) {
    max-width: 992px;
    font-size: 22px;
  }
  @media (max-width: $tablet) {
    max-width: 750px;
    font-size: 18px;
  }
  @media (max-width: $mobile) {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  @media (max-width: $extraSmall) {
    font-size: 14px;
  }

  .j-relative {
    position: relative;
  }

  .balancer-range,
  .appserver-range,
  .database-range {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &[data-mode=appserver] {
    .appserver-range {
      display: flex;
    }
  }
  &[data-mode=balancer] {
    .balancer-range {
      display: flex;
    }
    .calculator-left-top-chooser-left {
      input {
        &:checked {
          + label {
            border-color: $balancerColor !important;
          }
        }
      }
    }
    .range-block {
      .tooltip-button {
        &.max {
          color: $balancerColor !important;
        }
      }
      .tooltip-wrapper {

        &:before {
          border-right-color: $balancerColor !important;
        }
        &.max {
          &:before {
            @media (max-width: $tablet) {
              border: 10px solid transparent !important;
              border-left-color: $balancerColor !important;
            }
          }
        }
        .tooltip-inner {
          border-color: $balancerColor !important;
        }
      }

      .inner {
        background: $balancerColor !important;
        border-color: $balancerColor !important;
      }
      &.max-block {
        .inner {
          background: none !important;
        }
      }
      .dot-line {
        .dot {
          &:before {
            background: $balancerColor !important;
          }
          background: $balancerColor !important;
          .line {
            background: $balancerColor !important;
            &:before {
              background: $balancerColor !important;
            }
          }
        }
      }
    }

  }

  &[data-mode=database] {
    .database-range {
      display: flex;
    }
    .calculator-left-top-chooser-left {
      input {
        &:checked {
          + label {
            border-color: $dbColor !important;
          }
        }
      }
    }
    .range-block {
      .tooltip-button {
        &.max {
          color: $dbColor !important;
        }
      }
      .tooltip-wrapper {

        &:before {
          border-right-color: $dbColor !important;
        }
        &.max {
          &:before {
            @media (max-width: $tablet) {
              border: 10px solid transparent !important;
              border-left-color: $dbColor !important;
            }
          }
        }
        .tooltip-inner {
          border-color: $dbColor !important;
        }
      }

      .inner {
        background: $dbColor !important;
        border-color: $dbColor !important;
      }
      &.max-block {
        .inner {
          background: none !important;
        }
      }
      .dot-line {
        .dot {
          &:before {
            background: $dbColor !important;
          }
          background: $dbColor !important;
          .line {
            background: $dbColor !important;
            &:before {
              background: $dbColor !important;
            }
          }
        }
      }
    }
    //.range-wrapper {
    //  background: $dbColor !important;
    //  &:before {
    //    background: $dbColor !important;
    //  }
    //}
  }

  .price {
    font-size: 32px;
    @media (max-width: $laptop) {
      font-size: 22px;
    }
    @media (max-width: $tablet) {
      font-size: 17px;
    }
    @media (max-width: $mobile) {
      font-size: 17px;
    }
  }

  .hoster-selector {
    background: rgba($mainColor, 0.13);

    p {
      margin-right: 20px;
      @media (max-width: $tablet) {
        padding: 0;
      }
      @media (max-width: $extraSmall) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .selector-wrapper {
      font-size: 30px;
      @media (max-width: $laptop) {
        font-size: 26px;
      }
      @media (max-width: $tablet) {
        font-size: 18px;
      }
      @media (max-width: $extraSmall) {
        font-size: 14px;
      }
    }
    .selector-wrapper, .services {
      width: 100%;
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
        padding: 0;
      }
      @media (max-width: $mobile) {
        flex-wrap: wrap;
        p {
          margin-bottom: 10px;
          margin-right: 10px;
        }
      }
      @media (max-width: $extraSmall) {
        opacity: 1;
      }
    }

    .services {
      width: 70%;
      flex: 0 0 70%;
      @media (max-width: $tablet) {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 20px;
      }
    }
    .hosting-information--bottom {
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
        flex-wrap: wrap;
      }
      .hoster-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 90px;
        width: 30%;
        flex: 0 0 30%;
        padding-left: 10px;
        &.center {
          width: 30%;
          flex: 0 0 30%;
          justify-content: center;
          margin: 0 auto;
          @media (max-width: $mobile) {
            justify-content: flex-start;
            margin: 0;
          }
        }
        @media (max-width: $laptop) {
          width: 25%;
          flex: 25%;
        }
        @media (max-width: $tablet) {
          width: 100% !important;
          flex: 100% !important;
          padding: 0;
        }
        @media (max-width: $mobile) {
          height: auto;
        }
        img {
          max-width: 250px;
          max-height: 100%;
          width: 100%;
          height: auto;
          object-fit: contain;
          @media (max-width: $mobile) {
            max-width: 170px;
            max-height: 120px;
          }
        }
      }
    }


    .hosting-information {
      width: 100%;
      .hosting-information--top {
        display: flex;
        margin: 40px 0;
        @media (max-width: $laptop) {
          margin: 40px 0;
        }
        @media (max-width: $tablet) {
        flex-direction: column;
        margin: 30px 0 0;
      }
        @media (max-width: $extraSmall) {
          margin: 20px 0 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        > div {
          width: 33.333367%;
          display: flex;
          align-items: center;
          padding: 0 15px;
          margin: 0 15px;
          position: relative;
          @media (max-width: $tablet) {
            padding: 0;
            margin: 0 0 20px;
            width: 100%;
          }
          @media (max-width: $extraSmall) {
            flex-wrap: wrap;
            margin-bottom: 10px;
          }

          p {
            @media (max-width: $tablet) {
              width: 150px;
            }
            @media (max-width: $extraSmall) {
              width: 100%;
            }
          }
          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }
          &:last-child {
            margin-right: 0;
            padding-right: 0;
            &:after {
              display: none;
            }
          }
          &:after {
            display: block;
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: #bec8de;
            @media (max-width: $tablet) {
              display: none;
            }
          }
        }
      }
    }

    i.ico.ico--new {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='625936d2-c6ff-44b7-a38f-0fc749a72c2d' data-name='Слой 1' width='48' height='19' viewBox='0 0 48 19'%3E%3Ctitle%3Enew star%3C/title%3E%3Cpath d='M12,4.68a54.49,54.49,0,0,1,17-3c9,0,19,6,19,6s-3,1-4,2-1,2-7,2-16,4-18,5-7-6-7-8Z' fill='%23ffb400'/%3E%3Cpath d='M7.64,17a.32.32,0,0,1-.19-.06.32.32,0,0,1-.13-.31l1-5.75L4.1,6.8A.32.32,0,0,1,4,6.47a.32.32,0,0,1,.26-.22l5.83-.84L12.71.18A.32.32,0,0,1,13,0h0a.32.32,0,0,1,.29.18L15.9,5.41l5.83.84a.32.32,0,0,1,.26.22.32.32,0,0,1-.08.33l-4.22,4.08,1,5.75a.32.32,0,0,1-.13.31.32.32,0,0,1-.34,0L13,14.25,7.79,17A.33.33,0,0,1,7.64,17Z' fill='%23ffb200'/%3E%3Cpath d='M5,6.79l3.87,3.74a.32.32,0,0,1,.09.28L8.06,16.1l4.79-2.49a.32.32,0,0,1,.3,0l4.79,2.49L17,10.81a.32.32,0,0,1,.09-.28L21,6.79,15.64,6a.32.32,0,0,1-.24-.17L13,1,10.61,5.85a.32.32,0,0,1-.24.17Z' fill='%23fff'/%3E%3Cpath d='M5.64,18a.32.32,0,0,1-.19-.06.32.32,0,0,1-.13-.31l1-5.75L2.1,7.8A.32.32,0,0,1,2,7.47a.32.32,0,0,1,.26-.22L8.1,6.41l2.61-5.24A.32.32,0,0,1,11,1h0a.32.32,0,0,1,.29.18L13.9,6.41l5.83.84a.32.32,0,0,1,.26.22.32.32,0,0,1-.08.33l-4.22,4.08,1,5.75a.32.32,0,0,1-.13.31.32.32,0,0,1-.34,0L11,15.25,5.79,18A.33.33,0,0,1,5.64,18Z' fill='%23fc0'/%3E%3Cpath d='M3,7.79l3.87,3.74a.32.32,0,0,1,.09.28L6.06,17.1l4.79-2.49a.32.32,0,0,1,.3,0l4.79,2.49L15,11.81a.32.32,0,0,1,.09-.28L19,7.79,13.64,7a.32.32,0,0,1-.24-.17L11,2,8.61,6.85A.32.32,0,0,1,8.36,7Z' fill='%23fff'/%3E%3Cpath d='M18,8.47a.32.32,0,0,0-.26-.22L11.9,7.41,9.29,2.18a.32.32,0,0,0-.58,0L6.1,7.41.28,8.25A.32.32,0,0,0,0,8.47.32.32,0,0,0,.1,8.8l4.22,4.07-1,5.75a.32.32,0,0,0,.47.34L9,16.25,14.21,19a.32.32,0,0,0,.34,0,.32.32,0,0,0,.13-.31l-1-5.75L17.9,8.8A.32.32,0,0,0,18,8.47Z' fill='%23fc0'/%3E%3Cpath d='M21.15,11.78,23,5.16l.76-.07.78,3.2a14.83,14.83,0,0,1,.36,2.07h0c.18-.88.38-1.68.67-2.72l.76-2.77L27,4.79l-1.82,6.63-.7.06-.77-3.21a15.25,15.25,0,0,1-.38-2.12h0c-.19.83-.4,1.63-.7,2.73l-.78,2.83Z' fill='%23fff'/%3E%3Cpath d='M30,8l-2.06.19-.65,2.39,2.31-.21-.2.72-3,.27,1.82-6.63L31,4.42l-.2.72-2.19.2-.57,2.09,2.06-.19Z' fill='%23fff'/%3E%3Cpath d='M31.19,10.87l.46-6.5.73-.07-.29,3.3c-.07.81-.15,1.62-.23,2.25h0c.27-.67.65-1.47,1.06-2.34l1.63-3.41L35.29,4,35,7.34c-.07.77-.14,1.55-.25,2.24h0c.31-.74.66-1.49,1.05-2.33l1.62-3.41.7-.06-3.32,6.76-.72.07.27-3.39c.07-.83.13-1.47.24-2.13h0c-.27.67-.57,1.33-1,2.2l-1.7,3.52Z' fill='%23fff'/%3E%3C/svg%3E") left/contain no-repeat;
      display: block;
      width: 100%;
      height: 26px;
    }
    i.ico.ico--stars {
      width: 24px;
      height: 23px;
      margin: 0 3px;
      display: inline-block;
      background: url("data:image/svg+xml,%3Csvg id='addb128b-0553-4cce-b20d-585404887934' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' width='24' height='22.87' viewBox='0 0 24 22.87'%3E%3Ctitle%3Ebig star line%3C/title%3E%3Cpath d='M4.85,22.87a.43.43,0,0,1-.42-.5l1.33-7.74L.13,9.14a.43.43,0,0,1,.24-.73L8.14,7.28l3.48-7A.43.43,0,0,1,12,0h0a.43.43,0,0,1,.38.24l3.48,7,7.77,1.13a.43.43,0,0,1,.24.73l-5.62,5.48,1.33,7.74a.43.43,0,0,1-.62.45l-7-3.65L5,22.82A.43.43,0,0,1,4.85,22.87ZM1.35,9.14l5.16,5a.43.43,0,0,1,.12.38l-1.22,7.1L11.8,18.3a.43.43,0,0,1,.4,0l6.38,3.35-1.22-7.1a.43.43,0,0,1,.12-.38l5.16-5-7.13-1a.43.43,0,0,1-.32-.23L12,1.4,8.81,7.86a.43.43,0,0,1-.32.23Z' fill='%23c3d0d8'/%3E%3C/svg%3E") center no-repeat;
      background-size: cover !important;

      &.filled {
        background: url("data:image/svg+xml,%3Csvg id='2313b666-7570-4360-bba8-2ef0f73d3fe9' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' width='24' height='22.87' viewBox='0 0 24 22.87'%3E%3Ctitle%3Ebig star gold%3C/title%3E%3Cpath d='M24,8.7a.43.43,0,0,0-.35-.29L15.86,7.28l-3.48-7a.43.43,0,0,0-.77,0l-3.48,7L.37,8.41a.43.43,0,0,0-.24.73l5.62,5.48L4.43,22.37a.43.43,0,0,0,.17.42.43.43,0,0,0,.45,0l7-3.65,7,3.65a.43.43,0,0,0,.62-.45l-1.33-7.74,5.62-5.48A.43.43,0,0,0,24,8.7Z' fill='%23fc0'/%3E%3C/svg%3E") center no-repeat;
      }
      &.blue.filled {
        background: url("data:image/svg+xml,%3Csvg id='97c9fcae-0459-41b1-ace9-3e081432b220' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' width='24' height='22.87' viewBox='0 0 24 22.87'%3E%3Ctitle%3Ebig star blue%3C/title%3E%3Cpath d='M24,8.7a.43.43,0,0,0-.35-.29L15.86,7.28l-3.48-7a.43.43,0,0,0-.77,0l-3.48,7L.37,8.41a.43.43,0,0,0-.24.73l5.62,5.48L4.43,22.37a.43.43,0,0,0,.17.42.43.43,0,0,0,.45,0l7-3.65,7,3.65a.43.43,0,0,0,.62-.45l-1.33-7.74,5.62-5.48A.43.43,0,0,0,24,8.7Z' fill='%2300acff'/%3E%3C/svg%3E") center no-repeat;
      }
    }
    .tooltip {
      position: relative;
      .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: #00acff;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 14px;
        @media (max-width: $tablet) {
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50px;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #00acff transparent transparent transparent;
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }

  }

  $background: #e74c3c;
  $select-color: #000;
  $select-background: #c0392b;
  $select-width: 450px;
  $select-height: 60px;

  .custom-select {
    width: $select-width;
    @media (max-width: $laptop) {
      width: 340px;
    }
    @media (max-width: $tablet) {
      width: 290px;
    }
    @media (max-width: $mobile) {
      width: 300px;
    }
    @media (max-width: $extraSmall) {
      width: 100%;
    }
    .select-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px;
    }
    .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 24px;
      color: $select-color;
      width: 100%;
      height: $select-height;
      @media (max-width: $laptop) {
        font-size: 20px;
      }
      @media (max-width: $tablet) {
        height: 50px;
        font-size: 16px;
      }
      @media (max-width: $extraSmall) {
        height: 40px;
        font-size: 14px;
      }
    }
    .select-styled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 8px 15px;
      box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
      display: flex;
      align-items: center;
      border-radius: 15px;
      background: #fff;
      &:after {
        content: "";
        border: solid #000;
        border-top-color: #000;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        width: 2px;
        height: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        transform: rotate(45deg);
        right: 10px;
        left: auto;
        transition: .3s;
        @media (max-width: $tablet) {
          border-width: 0 2px 2px 0;
        }
        @media (max-width: $extraSmall) {
          border-width: 0 1px 1px 0;
        }
      }
      &:active, &.active {
        &:after {
          transform: rotate(-135deg);
        }
      }
    }

    .select-options {
      display: none;
      position: absolute;
      top: calc(100% - 10px);
      right: 0;
      left: 0;
      z-index: 2;
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 300px;
      overflow: auto;
      background-color: #fff;
      padding-top: 0px;
      box-shadow: 0 15px 30px 0 rgba(0, 132, 245, .1);
      @media (max-width: $extraSmall) {
        max-height: 200px;
      }
      li {
        margin: 0;
        padding: 8px 0;
        text-indent: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover, &.current-hoster {
          color: #fff;
          background: #00acff;
        }
        &[rel="hide"] {
          display: none;
        }
        .flags {
          display: flex;
        }
      }
    }
  }

  p {
    margin: 0;
  }
  &.loading {
    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      z-index: 223;
      content: 'Loading...';
      color: #42aaff;
      font-size: 35px;
      padding: 50px 0 60px;
    }
  }
  .calc-block {
    display: block;
    padding: 40px;
    box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
    margin-bottom: 30px;
    border-radius: 15px;
    @media (max-width: $tablet) {
      margin-bottom: 30px;
      padding: 25px;
    }
    @media (max-width: $extraSmall) {
      padding: 15px;
    }
  }
  .languages {
    display: flex;
    margin: 0 -15px;
    @media (max-width: $tablet) {
      margin: 0 -5px;
    }
    @media (max-width: $extraSmall) {
      flex-wrap: wrap;
    }
    .language {
      width: 100%;
      padding: 0 15px;
      @media (max-width: $tablet) {
        padding: 0 5px;

      }
      @media (max-width: $extraSmall) {
        width: 33.3336%;
      }

      .calc-block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 80px;
        cursor: pointer;
        img {
          max-height: 95%;
          max-width: 95%;
          transition: .3s;
          &[src*=active] {
            display: none;
          }
        }
        &:hover {
          img {
            &[src*=active] {
              display: block;
            }
            &[src*=mute] {
              display: none;
            }
          }
        }
      }
      input {
        display: none;
        &:checked {
          ~ img {
            &[src*=active] {
              display: block;
            }
            &[src*=mute] {
              display: none;
            }
          }
        }
      }
    }
  }
  .calculator {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
    .calculator-left {
      width: 60%;
      position: relative;
      padding-right: 40px;
      @media (max-width: $laptop) {
        padding-right: 35px;
        width: 60%;
      }
      @media (max-width: $tablet) {
        padding-right: 20px;
      }
      @media (max-width: $mobile) {
        width: 100%;
        border-right: 0;
        margin-right: 0;
        padding-right: 25px;
        margin-bottom: 30px;
      }
      @media (max-width: $extraSmall) {
        margin-bottom: 20px;
        padding-right: 15px;
      }
      &:before {
        display: block;
        content: '';
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        background: #fff;
        @media (max-width: $mobile) {
          display: none;
        }
      }
      .calculator-left-top {
        display: flex;
        @media (max-width: $tablet) {
          flex-direction: column;
        }
        .calculator-left-top-chooser {
          width: 40%;
          @media (max-width: $tablet) {
            width: 100%;
          }
          .calculator-left-top-chooser-left {
            margin-right: 30px;
            @media (max-width: $laptop) {
              margin-right: 15px;
            }
            @media (max-width: $tablet) {
              margin-right: 0;
            }
            .node-count {
              max-width: 55px;
              position: relative;
              text-align: center;
              width: 100%;
              @media (max-width: $laptop) {
                max-width: 45px;
              }

              .minus-node, .plus-node {
                position: absolute;
                top: 0;
                left: 0;
                width: 25%;
                height: 100%;
                &:before {
                  content: '';
                  border: solid #5b6c90;
                  border-width: 0 1px 1px 0;
                  display: inline-block;
                  padding: 3px;
                  width: 3px;
                  height: 3px;
                  position: absolute;
                  top: 6px;
                  bottom: 0;
                  margin: auto;
                  left: 0;
                  cursor: pointer;
                  @media (max-width: $laptop) {
                    top: 0;
                    border-width: 0 2px 2px 0;
                  }
                  @media (max-width: $tablet) {
                    border-width: 0 2px 2px 0;
                  }
                  @media (max-width: $extraSmall) {
                    width: 1px;
                    height: 1px;
                    border-width: 0 1px 1px 0;
                  }
                }
              }
              .minus-node {
                &:before {
                  -webkit-transform: rotate(135deg);
                  -ms-transform: rotate(135deg);
                  -o-transform: rotate(135deg);
                  transform: rotate(135deg);
                }
              }
              .plus-node {
                left: auto;
                right: 0;
                &:before {
                  -webkit-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                  -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  right: 0;
                  left: auto;
                  @media (max-width: $tablet) {
                    left: auto;
                  }
                  @media (max-width: $extraSmall) {
                    left: auto;
                  }
                }
              }
              input {
                width: 32px;
                font-size: 20px;
                background: none;
                text-align: center;
                border: none;
                padding: 0;
                display: inline-block;
                @media (max-width: $extraSmall) {
                  font-size: 14px;
                }
              }
              /* Chrome, Safari, Edge, Opera */
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              /* Firefox */
              input[type=number] {
                -moz-appearance: textfield;
              }

            }

            input[type="radio"] {
              display: none;
              &:checked {
                + label {
                  border-color: $mainColor;
                }
              }
            }
            label {
              cursor: pointer;
              box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
              border-radius: 10px;
              padding: 10px 18px 12px;
              border: 2px solid #fff;
              margin-bottom: 22px;
              font-size: 26px;
              transition: .3s;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &:last-of-type {
                margin-bottom: 0;
              }

              @media (max-width: $laptop) {
                font-size: 20px;

              }
              @media (max-width: $tablet) {
                padding: 8px 15px 10px;
                font-size: 18px;
                margin-bottom: 10px;
              }
              @media (max-width: $extraSmall) {
                margin-bottom: 10px;
                font-size: 14px;
                border-width: 1px;
              }

              &[for*=balancer] {
                background: rgba($balancerColor, 0.12);
              }
              &[for*=appserver] {
                background: rgba($mainColor, 0.12);
              }
              &[for*=database] {
                background: rgba($dbColor, 0.12);
              }
              //&:not(.active) {
              //  background: none;
              //}

            }
          }
        }

        .calculator-left-top-scale {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 60%;
          user-select: none;
          @media (max-width: $tablet) {
            margin-top: 20px;
            width: 100%;
          }

          .cloudlets-title {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
            @media (max-width: $laptop) {
              font-size: 18px;
            }
            @media (max-width: $mobile) {
              font-size: 16px;
            }
            span {
              text-transform: uppercase;
              margin-bottom: 2px;
            }
            div {
              font-size: 18px;
              @media (max-width: $laptop) {
                font-size: 16px;
              }
              @media (max-width: $mobile) {
                font-size: 14px;
              }
            }
          }

          .range-block {
            width: 47%;
            position: relative;

            .digits {
              span {
                margin: 2px 0;
              }
            }

            .tooltip-button {
              font-style: normal;
              color: #fff;
              border: 1px solid;
              width: 15px;
              height: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              right: 5px;
              top: 5px;
              z-index: 2;
              border-radius: 50%;
              font-size: 11px;
              cursor: pointer;
              @media (max-width: $extraSmall) {
                right: auto;
                left: 5px;
              }

              &.max {
                color: $mainColor;
                @media (max-width: $extraSmall) {
                  right: 5px;
                  left: auto;
                }
              }
              &:hover {
                + .tooltip-wrapper {
                  display: block;
                }
              }

            }

            .tooltip-wrapper {
              width: 300px;
              position: absolute;
              left: calc(100% + 10px);
              top: -7px;
              display: none;
              border-radius: 10px;
              box-shadow: 0 0 10px 0 rgba(0, 132, 245, .15);

              @media (max-width: $laptop) {
                width: 250px;
              }
              @media (max-width: $tablet) {
                width: 200px;
              }
              @media (max-width: $extraSmall) {
                left: 30px;
              }

              &.max {
                @media (max-width: $tablet) {
                  left: auto;
                  right: 35px;
                }
                @media (max-width: $extraSmall) {
                  right: 30px;
                }
                &:before {
                  @media (max-width: $tablet) {
                    left: auto;
                    right: -18px;
                    border: 10px solid transparent;
                    border-left-color: $mainColor;
                  }
                }
                &:after {
                  @media (max-width: $tablet) {
                    left: auto;
                    right: -15px;
                    border-right-color: transparent;
                    border-left-color: #fff;
                  }
                }
              }
              &:before {
                display: block;
                content: '';
                position: absolute;
                left: -18px;
                top: 8px;
                border: 10px solid transparent;
                border-right-color: $mainColor;
              }
              &:after {
                display: block;
                content: '';
                position: absolute;
                top: 10px;
                left: -15px;
                border: 8px solid transparent;
                border-right-color: #ffffff;
                z-index: 9;
              }
              .tooltip-inner {
                position: relative;
                background: #fff;
                color: #000;
                z-index: 9;
                border-radius: 10px;
                padding: 10px;
                border: 1px solid $mainColor;
                .title {
                  font-size: 14px;
                  margin-bottom: 10px;
                }
                .description {
                  font-size: 12px;
                  margin-bottom: 10px;
                }
                img {
                  display: block;
                  max-width: 90%;
                  margin: 0 auto;
                }
              }
            }

            .inner {
              background: $mainColor;
              border-radius: 10px;
              padding: 22px 10px;
              transition: .3s;
              position: relative;
              border: 2px dashed $mainColor;
              font-size: 24px;
              font-weight: 400;
              @media (max-width: $laptop) {
                font-size: 16px;
                padding: 20px 10px;
              }
              @media (max-width: $extraSmall) {
                font-size: 12px;
              }
              .decrease, .increase {
                position: absolute;
                left: 0;
                top: 0;
                width: 20%;
                height: 100%;
                &:before {
                  content: '';
                  border: solid #fff;
                  border-width: 0 3px 3px 0;
                  display: inline-block;
                  padding: 3px;
                  width: 14px;
                  height: 14px;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: 10px;
                  cursor: pointer;
                  @media (max-width: $tablet) {
                    border-width: 0 2px 2px 0;
                  }
                  @media (max-width: $extraSmall) {
                    border-width: 0 1px 1px 0;
                  }
                }
              }
              .decrease {
                &:before {
                  transform: rotate(135deg);
                  -webkit-transform: rotate(135deg);
                }
              }
              .increase {
                left: auto;
                right: 0;
                &:before {
                  transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                  right: 10px;
                  left: auto;
                }
              }
            }
            &.zero {
              .inner {
                opacity: 0;
              }
            }
            &.min-block {
              .inner {
                color: #fff;
              }
            }
            &.max-block {
              .inner {
                background: none;
                border: 2px dashed $mainColor;
                .decrease, .increase {
                  &:before {
                    border-color: #5b6c90;
                  }
                }
              }
            }
            span {
              display: block;
              text-align: center;
              &.dot-line {
                font-size: 16px;
                padding-bottom: 6px;
                position: relative;
                text-align: center;
                line-height: 1;
                .dot {
                  display: inline-block;
                  width: 7px;
                  height: 7px;
                  background: $mainColor;
                  border-radius: 50%;
                  position: relative;
                  top: -11px;
                  &:before {
                    display: block;
                    content: "";
                    width: 1px;
                    height: 16px;
                    position: absolute;
                    background: $mainColor;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                  }
                  span.line {
                    height: 1px;
                    background: $mainColor;
                    display: block;
                    position: absolute;
                    bottom: -9px;
                    right: 3px;
                    &:before {
                      display: block;
                      content: '';
                      width: 1px;
                      height: 25px;
                      background: $mainColor;
                      top: 0;
                      position: absolute;
                      left: 0;
                    }
                    &.more {
                      left: 3px;
                      right: auto;
                      &:before {
                        left: auto;
                        right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
          .range-wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 40px;
          }
        }
      }
      .calculator-left-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 -10px;
        .calculator-left-bottom-block {
          margin-top: 30px;
          width: 100%;
          font-size: 22px;
          max-width: 220px;
          padding: 0 10px;
          text-align: center;
          @media (max-width: $laptop) {
            font-size: 18px;
          }
          @media (max-width: $tablet) {
            font-size: 16px;
          }
          @media (max-width: $extraSmall) {
            font-size: 12px;
            padding: 0 1px;
          }

          .small {
            display: block;
            font-size: 14px;
            @media (max-width: $extraSmall) {
              font-size: 10px;
            }
          }

          p {
            margin-bottom: 20px;
            @media (max-width: $laptop) {
              margin-bottom: 20px;
            }
            @media (max-width: $tablet) {
              margin-bottom: 15px;
            }
            @media (max-width: $extraSmall) {
              margin-bottom: 10px;
            }

            > span {
              display: inline-block;
            }
            &.ip-title {
              margin-bottom: 30px;
              @media (max-width: $laptop) {
                margin-bottom: 30px;
              }
              @media (max-width: $tablet) {
                margin-bottom: 25px;
              }
              @media (max-width: $extraSmall) {
                margin-bottom: 20px;
              }
            }
          }

          .tooltip-button {
            font-style: normal;
            border: 1px solid;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -15px;
            top: -5px;
            z-index: 2;
            border-radius: 50%;
            font-size: 11px;
            cursor: pointer;
            color: $mainColor;
            @media (max-width: $tablet) {
              right: -10px;
              top: -8px;
            }
            @media (max-width: $extraSmall) {
              right: -13px;
              top: -13px;
            }
            &:hover {
              + .tooltip-wrapper {
                display: block;
              }
            }

          }

          .tooltip-wrapper {
            width: 200px;
            position: absolute;
            left: calc(100% + 25px);
            top: -13px;
            display: none;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 132, 245, .15);
            line-height: 1.7;

            @media (max-width: $laptop) {
              width: 200px;
            }
            @media (max-width: $tablet) {
              width: 200px;
            }
            @media (max-width: $extraSmall) {
              width: 160px;
              right: 25px;
              top: -20px;
            }

            &.max {
              @media (max-width: $tablet) {
                left: auto;
                right: 15px;
                top: -15px;
              }
              @media (max-width: $extraSmall) {
                right: 15px;
                top: -20px;
              }
              &:before {
                @media (max-width: $tablet) {
                  left: auto;
                  right: -16px;
                  border: 10px solid transparent;
                  border-left-color: $mainColor;
                }
              }
              &:after {
                @media (max-width: $tablet) {
                  left: auto;
                  right: -13px;
                  border-right-color: transparent;
                  border-left-color: #fff;
                }
              }
            }
            &:before {
              display: block;
              content: '';
              position: absolute;
              left: -17px;
              top: 5px;
              border: 10px solid transparent;
              border-right-color: $mainColor;
            }
            &:after {
              display: block;
              content: '';
              position: absolute;
              top: 7px;
              left: -14px;
              border: 8px solid transparent;
              border-right-color: #ffffff;
              z-index: 9;
            }
            .tooltip-inner {
              display: block;
              position: relative;
              background: #fff;
              color: #000;
              z-index: 9;
              border-radius: 10px;
              padding: 5px;
              border: 1px solid $mainColor;
              .title {
                display: block;
                font-size: 12px;
              }
            }
          }

          .inner {
            box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
            position: relative;
            padding: 0 10px 4px;
            text-align: center;
            border-radius: 15px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            @media (max-width: $laptop) {
              height: 60px;
              font-size: 17px;
            }
            @media (max-width: $tablet) {
              padding: 0 5px;
              font-size: 16px;
            }
            @media (max-width: $extraSmall) {
              font-size: 12px;
            }

            .count {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 24px;
              @media (max-width: $laptop) {
                font-size: 17px;
              }
              @media (max-width: $tablet) {
                font-size: 16px;
              }
              @media (max-width: $extraSmall) {
                font-size: 12px;
              }
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            input[type=number] {
              -moz-appearance: textfield;
            }

            .digit {
              background: none;
              border: none;
              color: inherit;
              font-size: inherit;
              line-height: inherit;
              width: 74px;
              text-align: center;
              padding: 0;
              @media (max-width: $laptop) {
                width: 55px;
              }
              @media (max-width: $tablet) {
                width: 45px;
              }
              @media (max-width: $extraSmall) {
                width: 35px;
              }
            }
            .minus, .plus {
              position: absolute;
              top: 0;
              left: 0;
              width: 25%;
              height: 100%;
              &:before {
                content: '';
                border: solid #5b6c90;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 30px;
                cursor: pointer;
                @media (max-width: $tablet) {
                  border-width: 0 2px 2px 0;
                  left: 10px;
                }
                @media (max-width: $extraSmall) {
                  width: 1px;
                  height: 1px;
                  border-width: 0 1px 1px 0;
                  left: 10px;
                }
              }
            }
            .minus {
              &:before {
                -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
              }
            }
            .plus {
              left: auto;
              right: 0;
              &:before {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                right: 30px;
                left: auto;
                @media (max-width: $tablet) {
                  left: auto;
                  right: 10px;
                }
                @media (max-width: $extraSmall) {
                  left: auto;
                  right: 10px;
                }
              }
            }
          }
        }
      }
    }
    .calculator-right {
      position: relative;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 35px;
      @media (max-width: $laptop) {
        width: 40%;
      }
      @media (max-width: $tablet) {
        justify-content: flex-start;
        width: 40%;
        padding-left: 20px;
      }
      @media (max-width: $mobile) {
        width: 100%;
      }
      @media (max-width: $extraSmall) {
        padding-left: 15px;
      }
      .total {
        margin-bottom: 30px;
        @media (max-width: $laptop) {
          font-size: 20px;
          margin-bottom: 25px;
        }
        @media (max-width: $tablet) {
          font-size: 20px;
        }
        @media (max-width: $mobile) {
          font-size: 20px;
        }
        @media (max-width: $extraSmall) {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }

      .totals-wrapper {
        @media (max-width: $mobile) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }

      .totals {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
        font-weight: 400;
        @media (max-width: $laptop) {
          margin-bottom: 20px;
        }
        @media (max-width: $tablet) {
          font-size: 20px;
          flex-wrap: wrap;
        }
        @media (max-width: $mobile) {
          width: 270px;
          font-size: 20px;
        }
        @media (max-width: $extraSmall) {
          width: 100%;
          font-size: 20px;
          margin-bottom: 20px;
        }
      }

      .totals-right {
        width: 50%;
        text-align: right;
        font-size: 20px;
        @media (max-width: $laptop) {
          font-size: 14px;
          width: 50%;
        }
        @media (max-width: $tablet) {
          width: 100%;
          font-size: 17px;
          text-align: left;
          margin-top: 3px;
        }
        @media (max-width: $mobile) {
          font-size: 16px;
        }
        @media (max-width: $extraSmall) {
          font-size: 16px;
          margin-bottom: 15px;
        }
        .balancer {
          color: $balancerColor;
        }
        .appserver {
          color: $mainColor;
        }
        .database {
          color: $dbColor;
        }
      }

      .totals-left {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        font-weight: 600;
        @media (max-width: $laptop) {
          font-size: 14px;
          width: 50%;
        }
        @media (max-width: $tablet) {
          font-size: 16px;
          width: 100%;
        }
        @media (max-width: $mobile) {
          font-size: 16px;
        }
        @media (max-width: $extraSmall) {
          font-size: 16px;
          margin-bottom: 0;
          font-weight: 400;
        }
      }

      &.new-row {
        .totals {
          flex-wrap: wrap;
          margin-bottom: 10px;
        }

        .totals-title {
          margin-bottom: 2px;
        }

        .total {
          margin-bottom: 10px;
        }

        .totals-left {
          width: 100%;
        }

        .totals-right {
          margin-top: 2px;
          text-align: left;
          width: 100%;
        }
      }

      .totals-title {
        flex: 100%;
        width: 100%;
        font-weight: 400;
        margin-bottom: 5px;
        @media (max-width: $laptop) {
          margin-bottom: 0;
        }
      }

      .currency-period {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (max-width: $laptop) {
          margin-top: 20px;
        }
        @media (max-width: $tablet) {
          flex-wrap: wrap;
        }
        .radio-block {
          width: 55%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          @media (max-width: $laptop) {
            width: 60%;
          }
          @media (max-width: $tablet) {
            width: 100%;
          }
          @media (max-width: $mobile) {
            width: 60%;
            justify-content: flex-start;
          }
          @media (max-width: $extraSmall) {
            width: 73%;
          }
          label {
            font-size: 16px;
            padding-left: 35px;
            position: relative;
            cursor: pointer;
            @media (max-width: $laptop) {
              font-size: 14px;
              padding-left: 30px;
            }
            @media (max-width: $tablet) {
              font-size: 14px;
            }
            @media (max-width: $mobile) {
              margin: 0 15px 0 0;
            }
            @media (max-width: $extraSmall) {
              margin: 0 7px 0 0;
              padding-left: 25px;
              font-size: 13px;
            }

            &:last-child {
              margin-right: 0;
            }
            &:before {
              box-sizing: border-box;
              width: 23px;
              height: 23px;
              display: block;
              content: '';
              background: #dfefff;
              border: 1px solid #bac5dc;
              border-radius: 50%;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              position: absolute;
              @media (max-width: $laptop) {
                width: 19px;
                height: 19px;
              }
            }
            &:after {
              display: block;
              content: '';
              width: 15px;
              height: 15px;
              background: #758bba;
              border-radius: 50%;
              left: 4px;
              top: 0;
              bottom: 0;
              margin: auto;
              position: absolute;
              opacity: 0;
              transition: .3s;
              @media (max-width: $laptop) {
                left: 3px;
                width: 13px;
                height: 13px;
              }
            }
          }
          input {
            display: none;
            &:checked {
              + label {
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }

        .current-switcher-wrapper {

          @media (max-width: $tablet) {
            margin-top: 20px;
          }
          @media (max-width: $mobile) {
            margin-top: 0;
          }
          .select {
            width: auto;
            padding: 3px 12px;
            border: 1px solid #bac5dc;
            font-size: 18px;
            border-radius: 5px;
            text-align: center;
            color: #03b6a6;
            position: relative;
            font-weight: 400;
            cursor: pointer;
            @media (max-width: $extraSmall) {
              padding: 2px 8px;
              font-size: 14px;
            }
            select {
              display: none;
            }
            .select-styled .currency-name {
              display: none;
            }

            .select-options {
              position: absolute;
              right: -1px;
              top: -1px;
              margin: 0;
              padding: 0;
              border: 1px solid #bac5dc;
              border-radius: 5px;
              background: #fff;
              text-align: right;
              z-index: 2;
              max-height: 225px;
              overflow: auto;
              @media (max-width: $tablet) {
                right: auto;
                left: -1px;
              }
              @media (max-width: $mobile) {
                right: -1px;
                left: auto;
              }
              li {
                display: flex;
                flex-direction: row-reverse;
                padding: 2px 10px;
                @media (max-width: $mobile) {
                  flex-direction: row;
                }

                &:hover, &.current-currency {
                  background: #dfefff;
                }
                .currency-sign {
                  display: none;
                }
                &[rel="EUR"] {
                  border-bottom: 1px solid #bac5dc;
                }
                span {
                  margin-right: 5px;
                  white-space: nowrap;
                  color: #55627b;
                  @media (max-width: $mobile) {
                    margin-right: 0;
                    margin-left: 5px;
                  }
                }
              }
            }

          }
        }
      }

      .period {
        padding-bottom: 5px;
        @media (max-width: $tablet) {
          margin-top: 30px;
        }
        @media (max-width: $extraSmall) {
          margin-top: 10px;
        }
        .start-price, .max-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 24px;
            width: calc(100% - 180px);
            @media (max-width: $laptop) {
              font-size: 18px;
              width: calc(100% - 135px);
            }
            @media (max-width: $tablet) {
              font-size: 18px;
              width: calc(100% - 95px);
            }
            span {
              display: block;
              font-size: 14px;
              margin-top: 5px;
              @media (max-width: $laptop) {
                font-size: 12px;
              }
              @media (max-width: $tablet) {
                font-size: 12px;
              }
            }
          }
          .price {
            width: 195px;
            margin-left: 15px;
            padding: 0 5px;
            background: #01b6a6;
            border: 2px dashed #01b6a6;
            color: #fff;
            border-radius: 15px;
            font-weight: 400;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $laptop) {
              height: 60px;
              width: 130px;
              margin-left: 15px;
            }
            @media (max-width: $tablet) {
              width: 90px;
              margin-left: 0;
            }
            @media (max-width: $tablet) {
              width: 120px;
              margin-left: 15px;
            }
          }
        }
        .max-price {
          margin-top: 15px;
          @media (max-width: $laptop) {
            margin-top: 20px;
          }
          .price {
            position: relative;
            background: none;
            color: #01b6a6;
            &:after {
              display: block;
              content: '';
              height: 35px;
              width: 0;
              border-right: 2px dashed #01b6a6;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 100%;
              margin: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .custom-select {
    .flag {
      width: 20px;
      height: 12px;
      margin-right: 5px;
    }
    .flag-ch {
      width: 12px;
    }
  }
}
