@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$laptop: 1366px;
$tablet: 1024px;
$mobile: 768px;
$extraSmall: 475px;
$mainColor: #0087ff;
$dbColor: #ffb000;
$balancerColor: #09b475;

@import "flags";
@import "features";
@import "addSlider";

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.j-calculator {
  max-width: 1250px;
  margin: 0 auto;
  font-size: 26px;
  position: relative;

  @media (max-width: $laptop) {
    max-width: 992px;
    font-size: 22px;
  }
  @media (max-width: $tablet) {
    max-width: 750px;
    font-size: 18px;
  }
  @media (max-width: $mobile) {
    max-width: 100%;
    padding: 0;
  }
  @media (max-width: $extraSmall) {
    font-size: 14px;
  }

  .balancer-range,
  .appserver-range,
  .database-range {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }


  &[data-mode=appserver] {
    .appserver-range {
      display: flex;
    }
  }
  &[data-mode=balancer] {
    .balancer-range {
      display: flex;
    }
    .calculator-left-top-chooser-left {
      input {
        &:checked {
          + label {
            border-color: $balancerColor !important;
          }
        }
      }
    }
    .range-block {
      .tooltip-button {
        &.max {
          color: $balancerColor !important;
        }
      }
      .tooltip-wrapper {

        &:before {
          border-right-color: $balancerColor !important;
        }
        &.max {
          &:before {
            @media (max-width: $tablet) {
              border: 10px solid transparent !important;
              border-left-color: $balancerColor !important;
            }
          }
        }
        .tooltip-inner {
          border-color: $balancerColor !important;
        }
      }

      .inner {
        background: $balancerColor !important;
        border-color: $balancerColor !important;
      }
      &.max-block {
        .inner {
          background: none !important;
        }
      }
      .dot-line {
        .dot {
          background: $balancerColor !important;
          .line {
            background: $balancerColor !important;
            &:before {
              background: $balancerColor !important;
            }
          }
        }
      }
    }

  }

  &[data-mode=database] {
    .database-range {
      display: flex;
    }
    .calculator-left-top-chooser-left {
      input {
        &:checked {
          + label {
            border-color: $dbColor !important;
          }
        }
      }
    }
    .range-block {
      .tooltip-button {
        &.max {
          color: $dbColor !important;
        }
      }
      .tooltip-wrapper {

        &:before {
          border-right-color: $dbColor !important;
        }
        &.max {
          &:before {
            @media (max-width: $tablet) {
              border: 10px solid transparent !important;
              border-left-color: $dbColor !important;
            }
          }
        }
        .tooltip-inner {
          border-color: $dbColor !important;
        }
      }

      .inner {
        background: $dbColor !important;
        border-color: $dbColor !important;
      }
      &.max-block {
        .inner {
          background: none !important;
        }
      }
      .dot-line {
        .dot {
          background: $dbColor !important;
          .line {
            background: $dbColor !important;
            &:before {
              background: $dbColor !important;
            }
          }
        }
      }
    }
    //.range-wrapper {
    //  background: $dbColor !important;
    //  &:before {
    //    background: $dbColor !important;
    //  }
    //}
  }

  .price {
    font-size: 34px;
    @media (max-width: $laptop) {
      font-size: 26px;
    }
    @media (max-width: $tablet) {
      font-size: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  .hoster-selector {

    p {
      margin-right: 20px;
      @media (max-width: $tablet) {
        padding: 0;
      }
      @media (max-width: $extraSmall) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .selector-wrapper {
      font-size: 30px;
      @media (max-width: $laptop) {
        font-size: 26px;
      }
      @media (max-width: $tablet) {
        font-size: 18px;
      }
      @media (max-width: $extraSmall) {
        font-size: 14px;
      }
    }
    .selector-wrapper, .services {
      width: 100%;
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
        padding: 0;
      }
      @media (max-width: $mobile) {
        flex-wrap: wrap;
        p {
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
      @media (max-width: $extraSmall) {
        opacity: 1;
      }
    }

    .hosting-information {
      width: 100%;
      .hosting-information--top {
        display: flex;
        margin: 40px 0;
        @media (max-width: $laptop) {
          margin: 40px 0;
        }
        @media (max-width: $tablet) {
          flex-direction: column;
          margin: 30px 0 10px;
        }
        @media (max-width: $extraSmall) {
          margin: 20px 0 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        > div {
          width: 33.333367%;
          display: flex;
          align-items: center;
          padding: 0 15px;
          margin: 0 15px;
          position: relative;
          @media (max-width: $tablet) {
            padding: 0;
            margin: 0 0 20px;
            width: 100%;
          }
          @media (max-width: $extraSmall) {
            flex-wrap: wrap;
            margin-bottom: 10px;
          }

          p {
            @media (max-width: $tablet) {
              width: 150px;
            }
            @media (max-width: $extraSmall) {
              width: 100%;
            }
          }
          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }
          &:last-child {
            margin-right: 0;
            padding-right: 0;
            &:after {
              display: none;
            }
          }
          &:after {
            display: block;
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: #bec8de;
            @media (max-width: $tablet) {
              display: none;
            }
          }
        }
      }
    }

    i.ico.ico--new {
      background: url(//jelastic.com/wp-content/themes/salient/img/components/component-signup-widget/new-member.png?v=1eb7adcbbc) left no-repeat;
      display: block;
      width: 100%;
      height: 24px;
    }
    i.ico.ico--stars {
      width: 24px;
      height: 23px;
      margin: 0 3px;
      display: inline-block;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAMAAAAm/38fAAAAb1BMVEUAAAC6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNO6yNMrk0IAAAAAJXRSTlMA5O13Rwa6rJyMJwn628eyhXxrX1k6Ih0YFBDz0s+8lZGBZlA0nPUZJwAAAMpJREFUKM9tjtkSgyAMRRNAQHCpu7Xu+v/f2GHsSKzmAe6ck0CAlBDwXMPwzIskKZ64xapC+yC4AlD8zt/MABj2volwcucUXrsFV6x1qWWKi2NKLCmyMSzro6cuw5FhuggoI34wUjWPSoA8bv9FG+fu4n135V3PfwsllnKbnKtpGXgeSO1z+vLilZKujIoMfOnV51UTIYXPQhIRG/dTUbjXTUxEFIDNUUrMLQSR5w12GaodYFeYddicovowbY5oNPtUp9jmhozPm7u+S4QIlyjc2VEAAAAASUVORK5CYII=') center no-repeat;
      background-size: cover !important;

      &.filled {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAMAAAAm/38fAAAAV1BMVEUAAAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAAkFWHoAAAAHHRSTlMAeJwC+vnjurKrjEkcE+/bz5GBaV5ZUEU6NCgIRX9kYAAAAJ1JREFUKM9tkVkSxCAIRNGo0Zh9X7j/OWccq5SM9I/YD4RCIDoOYFWNY8WCFXHl/McgmocBAr8Spd/1AfRdARr8qXlne+F0BNoJH6v8bA3+ydjZw6aQkdoAFg4scc5CIg1EREeTb1/m9VnqW7JKUTTg3pIE1BTUBAwUDOTvdEyNhTo3b8PdXQCXC1GbwIlK3jG8pcIzgX1qIZdPezg+kgMaeZqHXX0AAAAASUVORK5CYII=') center no-repeat;
      }
      &.blue.filled {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAMAAAAm/38fAAAAV1BMVEUAAAAArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8ArP8M+bWIAAAAHHRSTlMAeJwC+vnjurKrjEkcE+/bz5GBaV5ZUEU6NCgIRX9kYAAAAJ1JREFUKM9tkVkSxCAIRNGo0Zh9X7j/OWccq5SM9I/YD4RCIDoOYFWNY8WCFXHl/McgmocBAr8Spd/1AfRdARr8qXlne+F0BNoJH6v8bA3+ydjZw6aQkdoAFg4scc5CIg1EREeTb1/m9VnqW7JKUTTg3pIE1BTUBAwUDOTvdEyNhTo3b8PdXQCXC1GbwIlK3jG8pcIzgX1qIZdPezg+kgMaeZqHXX0AAAAASUVORK5CYII=) center no-repeat;
      }
    }
    .tooltip {
      position: relative;
      .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: #00acff;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 14px;
        @media (max-width: $tablet) {
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50px;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #00acff transparent transparent transparent;
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }

  }

  $background: #e74c3c;
  $select-color: #000;
  $select-background: #c0392b;
  $select-width: 450px;
  $select-height: 60px;

  .custom-select {
    width: $select-width;
    @media (max-width: $laptop) {
      width: 340px;
    }
    @media (max-width: $tablet) {
      width: 210px;
    }
    @media (max-width: $mobile) {
      width: 300px;
    }
    @media (max-width: $extraSmall) {
      width: 100%;
    }
    .select-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px;
    }
    .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 24px;
      color: $select-color;
      width: 100%;
      height: $select-height;
      @media (max-width: $laptop) {
        font-size: 20px;
      }
      @media (max-width: $tablet) {
        height: 50px;
        font-size: 16px;
      }
      @media (max-width: $extraSmall) {
        height: 40px;
        font-size: 14px;
      }
    }
    .select-styled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 8px 15px;
      box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
      display: flex;
      align-items: center;
      border-radius: 15px;
      background: #fff;
      &:after {
        content: "";
        border: solid #000;
        border-top-color: #000;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        width: 2px;
        height: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        transform: rotate(45deg);
        right: 10px;
        left: auto;
        transition: .3s;
        @media (max-width: $tablet) {
          border-width: 0 2px 2px 0;
        }
        @media (max-width: $extraSmall) {
          border-width: 0 1px 1px 0;
        }
      }
      &:active, &.active {
        &:after {
          transform: rotate(-135deg);
        }
      }
    }

    .select-options {
      display: none;
      position: absolute;
      top: calc(100% - 10px);
      right: 0;
      left: 0;
      z-index: 2;
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 300px;
      overflow: auto;
      background-color: #fff;
      padding-top: 0px;
      box-shadow: 0 15px 30px 0 rgba(0,132,245,.1);
      @media (max-width: $extraSmall) {
        max-height: 200px;
      }
      li {
        margin: 0;
        padding: 8px 0;
        text-indent: 15px;
        &:hover {
          color: #fff;
          background: #00acff;
        }
        &[rel="hide"] {
          display: none;
        }
      }
    }
  }

  p {
    margin: 0;
  }
  &.loading {
    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      z-index: 223;
      content: 'Loading...';
      color: #42aaff;
      font-size: 35px;
      padding: 50px 0 60px;
    }
  }
  .calc-block {
    display: block;
    padding: 40px;
    box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
    margin-bottom: 30px;
    border-radius: 15px;
    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: $extraSmall) {
      padding: 15px;
    }
  }
  .languages {
    display: flex;
    margin: 0 -15px;
    @media (max-width: $tablet) {
      margin: 0 -5px;
    }
    @media (max-width: $extraSmall) {
      flex-wrap: wrap;
    }
    .language {
      width: 100%;
      padding: 0 15px;
      @media (max-width: $tablet) {
        padding: 0 5px;

      }
      @media (max-width: $extraSmall) {
        width: 33.3336%;
      }

      .calc-block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 80px;
        cursor: pointer;
        img {
          max-height: 95%;
          max-width: 95%;
          transition: .3s;
          &[src*=active] {
            display: none;
          }
        }
        &:hover {
          img {
            &[src*=active] {
              display: block;
            }
            &[src*=mute] {
              display: none;
            }
          }
        }
      }
      input {
        display: none;
        &:checked {
          ~ img {
            &[src*=active] {
              display: block;
            }
            &[src*=mute] {
              display: none;
            }
          }
        }
      }
    }
  }
  .calculator {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
    .calculator-left {
      margin-right: 40px;
      border-right: 1px solid #bec8de;
      padding-right: 40px;
      width: 65%;
      @media (max-width: $tablet) {
        margin-right: 20px;
        padding-right: 20px;
        width: 60%;
      }
      @media (max-width: $mobile) {
        width: 100%;
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 30px;
      }
      @media (max-width: $extraSmall) {
        margin-bottom: 20px;
      }
      .calculator-left-top {
        display: flex;
        @media (max-width: $tablet) {
          flex-direction: column;
        }
        .calculator-left-top-chooser {
          width: 40%;
          @media (max-width: $tablet) {
            width: 100%;
          }
          .calculator-left-top-chooser-left {
            margin-right: 30px;
            @media (max-width: $tablet) {
              margin-right: 0;
            }
            input {
              display: none;
              &:checked {
                + label {
                  border-color: $mainColor;
                }
              }
            }
            label {
              cursor: pointer;
              box-shadow: 0 0 30px 0 rgba(0, 132, 245, 0.1);
              display: block;
              border-radius: 10px;
              padding: 10px 18px 12px;
              border: 2px solid #fff;
              margin-bottom: 8px;
              font-size: 26px;
              transition: .3s;
              @media (max-width: $laptop) {
                font-size: 22px;
              }
              @media (max-width: $tablet) {
                padding: 8px 15px 10px;
                font-size: 18px;
              }
              @media (max-width: $extraSmall) {
                font-size: 14px;
                border-width: 1px;
              }


              &[for*=balancer] {
                background: rgba($balancerColor, 0.12);
              }
              &[for*=appserver] {
                background: rgba($mainColor, 0.12);
              }
              &[for*=database] {
                background: rgba($dbColor, 0.12);
              }
              &:not(.active) {
                background: none;
              }

            }
          }
        }

        .calculator-left-top-scale {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 60%;
          @media (max-width: $tablet) {
            margin-top: 20px;
            width: 100%;
          }
          .range-block {
            width: 47%;
            position: relative;

            .digits {
              span {
                margin: 2px 0;
              }
            }

            .tooltip-button {
              font-style: normal;
              color: #fff;
              border: 1px solid;
              width: 15px;
              height: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              right: 5px;
              top: 5px;
              z-index: 2;
              border-radius: 50%;
              font-size: 11px;
              cursor: pointer;
              @media (max-width: $extraSmall) {
                right: auto;
                left: 5px;
              }

              &.max {
                color: $mainColor;
                @media (max-width: $extraSmall) {
                  right: 5px;
                  left: auto;
                }
              }
              &:hover {
                + .tooltip-wrapper {
                  display: block;
                }
              }

            }

            .tooltip-wrapper {
              width: 300px;
              position: absolute;
              left: calc(100% + 10px);
              top: -7px;
              display: none;
              border-radius: 10px;
              box-shadow: 0 0 10px 0 rgba(0, 132, 245, .15);

              @media (max-width: $laptop) {
                width: 250px;
              }
              @media (max-width: $tablet) {
                width: 200px;
              }
              @media (max-width: $extraSmall) {
                left: 30px;
              }

              &.max {
                @media (max-width: $tablet) {
                  left: auto;
                  right: 35px;
                }
                @media (max-width: $extraSmall) {
                  right: 30px;
                }
                &:before {
                  @media (max-width: $tablet) {
                    left: auto;
                    right: -18px;
                    border: 10px solid transparent;
                    border-left-color: $mainColor;
                  }
                }
                &:after {
                  @media (max-width: $tablet) {
                    left: auto;
                    right: -15px;
                    border-right-color: transparent;
                    border-left-color: #fff;
                  }
                }
              }
              &:before {
                display: block;
                content: '';
                position: absolute;
                left: -18px;
                top: 8px;
                border: 10px solid transparent;
                border-right-color: $mainColor;
              }
              &:after {
                display: block;
                content: '';
                position: absolute;
                top: 10px;
                left: -15px;
                border: 8px solid transparent;
                border-right-color: #ffffff;
                z-index: 9;
              }
              .tooltip-inner {
                position: relative;
                background: #fff;
                color: #000;
                z-index: 9;
                border-radius: 10px;
                padding: 10px;
                border: 1px solid $mainColor;
                .title {
                  font-size: 14px;
                  margin-bottom: 10px;
                }
                .description {
                  font-size: 12px;
                  margin-bottom: 10px;
                }
                img {
                  display: block;
                  max-width: 90%;
                  margin: 0 auto;
                }
              }
            }

            .inner {
              background: $mainColor;
              border-radius: 10px;
              padding: 22px 10px;
              transition: .3s;
              position: relative;
              border: 2px dashed $mainColor;
              font-size: 24px;
              font-weight: 400;
              @media (max-width: $laptop) {
                font-size: 17px;
              }
              @media (max-width: $extraSmall) {
                font-size: 12px;
              }
              .decrease, .increase {
                position: absolute;
                left: 0;
                top: 0;
                width: 20%;
                height: 100%;
                &:before {
                  content: '';
                  border: solid #fff;
                  border-width: 0 3px 3px 0;
                  display: inline-block;
                  padding: 3px;
                  width: 14px;
                  height: 14px;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: 10px;
                  cursor: pointer;
                  @media (max-width: $tablet) {
                    border-width: 0 2px 2px 0;
                  }
                  @media (max-width: $extraSmall) {
                    border-width: 0 1px 1px 0;
                  }
                }
              }
              .decrease {
                &:before {
                  transform: rotate(135deg);
                  -webkit-transform: rotate(135deg);
                }
              }
              .increase {
                left: auto;
                right: 0;
                &:before {
                  transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                  right: 10px;
                  left: auto;
                }
              }
            }
            &.zero {
              .inner {
                opacity: 0;
              }
            }
            &.min-block {
              .inner {
                color: #fff;
              }
            }
            &.max-block {
              .inner {
                background: none;
                border: 2px dashed $mainColor;
                .decrease, .increase {
                  &:before {
                    border-color: #5b6c90;
                  }
                }
              }
            }
            span {
              display: block;
              text-align: center;
              &.dot-line {
                font-size: 16px;
                margin-top: 10px;
                padding-bottom: 6px;
                position: relative;
                text-align: center;
                line-height: 1;
                .dot {
                  display: inline-block;
                  width: 7px;
                  height: 7px;
                  background: $mainColor;
                  border-radius: 50%;
                  position: relative;
                  span.line {
                    height: 1px;
                    background: $mainColor;
                    display: block;
                    position: absolute;
                    bottom: 3px;
                    right: 3px;
                    &:before {
                      display: block;
                      content: '';
                      width: 1px;
                      height: 25px;
                      background: $mainColor;
                      top: 0;
                      position: absolute;
                      left: 0;
                    }
                    &.more {
                      left: 3px;
                      right: auto;
                      &:before {
                        left: auto;
                        right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
          .range-wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 40px;
          }
        }
      }
      .calculator-left-bottom {
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;
        .calculator-left-bottom-block {
          margin-top: 50px;
          width: 100%;
          font-size: 26px;
          max-width: 200px;
          padding: 0 10px;
          @media (max-width: $laptop) {
            font-size: 22px;
          }
          @media (max-width: $tablet) {
            margin-top: 30px;
            font-size: 14px;
          }
          @media (max-width: $extraSmall) {
            font-size: 10px;
          }
          p {
            margin-bottom: 10px;
          }
          .inner {
            background: #7a8eb8;
            color: #fff;
            position: relative;
            padding: 0 10px 4px;
            text-align: center;
            border-radius: 15px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            @media (max-width: $laptop) {
              height: 60px;
              font-size: 17px;
            }
            @media (max-width: $tablet) {
              padding: 0 5px;
              font-size: 16px;
            }
            @media (max-width: $extraSmall) {
              font-size: 12px;
            }

            .count {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 24px;
              @media (max-width: $laptop) {
                font-size: 17px;
              }
              @media (max-width: $tablet) {
                font-size: 16px;
              }
              @media (max-width: $extraSmall) {
                font-size: 12px;
              }
            }


            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            input[type=number] {
              -moz-appearance: textfield;
            }

            .digit {
              background: none;
              border: none;
              color: inherit;
              font-size: inherit;
              line-height: inherit;
              width: 35px;
              text-align: center;
              padding: 0;
              @media (max-width: $laptop) {
                width: 26px;
              }
              @media (max-width: $tablet) {
                width: 23px;
              }
              @media (max-width: $extraSmall) {
                width: 15px;
              }
            }
            .minus, .plus {
              position: absolute;
              top: 0;
              left: 0;
              width: 25%;
              height: 100%;
              &:before {
                content: '';
                border: solid #fff;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 30px;
                cursor: pointer;
                @media (max-width: $tablet) {
                  border-width: 0 2px 2px 0;
                  left: 10px;
                }
                @media (max-width: $extraSmall) {
                  width: 1px;
                  height: 1px;
                  border-width: 0 1px 1px 0;
                  left: 10px;
                }
              }
            }
            .minus {
              &:before {
                -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
              }
            }
            .plus {
              left: auto;
              right: 0;
              &:before {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                right: 30px;
                left: auto;
                @media (max-width: $tablet) {
                  left: auto;
                  right: 10px;
                }
                @media (max-width: $extraSmall) {
                  left: auto;
                  right: 10px;
                }
              }
            }
          }
        }
      }
    }
    .calculator-right {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $laptop) {
        width: 35%;
      }
      @media (max-width: $tablet) {
        justify-content: flex-start;
        width: 40%;
      }
      @media (max-width: $mobile) {
        width: 100%;
      }
      .cost {
        font-size: 45px;
        margin-bottom: 25px;
        text-align: center;
        @media (max-width: $laptop) {
          font-size: 42px;
        }
        @media (max-width: $tablet) {
          font-size: 38px;
        }
        @media (max-width: $mobile) {
          font-size: 36px;
        }
        @media (max-width: $extraSmall) {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }
      .radio-block {
        padding: 28px 25px;
        box-shadow: 0 0 30px 0 rgba(0, 132, 245, .1);
        border-radius: 15px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;
        @media (max-width: $tablet) {
          padding: 20px 15px;
        }
        @media (max-width: $mobile) {
          padding: 28px 35px;
          justify-content: center;
        }
        @media (max-width: $extraSmall) {
          padding: 20px 15px;
          justify-content: space-between;
        }
        label {
          font-size: 20px;
          padding-left: 40px;
          position: relative;
          cursor: pointer;
          @media (max-width: $laptop) {
            font-size: 16px;
            padding-left: 30px;
          }
          @media (max-width: $tablet) {
            font-size: 14px;
          }
          @media (max-width: $mobile) {
            margin: 0 15px;
          }
          @media (max-width: $extraSmall) {
            margin: 0;
          }
          &:before {
            box-sizing: border-box;
            width: 23px;
            height: 23px;
            display: block;
            content: '';
            background: #dfefff;
            border: 1px solid #bac5dc;
            border-radius: 50%;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            @media (max-width: $laptop) {
              width: 19px;
              height: 19px;
            }
          }
          &:after {
            display: block;
            content: '';
            width: 15px;
            height: 15px;
            background: #758bba;
            border-radius: 50%;
            left: 4px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            opacity: 0;
            transition: .3s;
            @media (max-width: $laptop) {
              left: 3px;
              width: 13px;
              height: 13px;
            }
          }
        }
        input {
          display: none;
          &:checked {
            + label {
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
      .period {
        padding-bottom: 5px;
        .start-price, .max-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 26px;
            width: calc(100% - 180px);
            @media (max-width: $laptop) {
              font-size: 22px;
              width: calc(100% - 135px);
            }
            @media (max-width: $tablet) {
              font-size: 18px;
              width: calc(100% - 95px);
            }
            span {
              display: block;
              font-size: 15px;
              margin-top: 5px;
              @media (max-width: $tablet) {
                font-size: 12px;
              }
            }
          }
          .price {
            width: 195px;
            margin-left: 15px;
            padding: 0 5px;
            background: #01b6a6;
            border: 2px dashed #01b6a6;
            color: #fff;
            border-radius: 15px;
            font-weight: 400;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $laptop) {
              height: 60px;
              width: 130px;
              margin-left: 15px;
            }
            @media (max-width: $tablet) {
              width: 90px;
              margin-left: 0;
            }
            @media (max-width: $tablet) {
              width: 120px;
              margin-left: 15px;
            }
          }
        }
        .max-price {
          margin-top: 30px;
          @media (max-width: $laptop) {
            margin-top: 20px;
          }
          .price {
            position: relative;
            background: none;
            color: #01b6a6;
            &:after {
              display: block;
              content: '';
              height: 35px;
              width: 0;
              border-right: 2px dashed #01b6a6;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 100%;
              margin: auto;
            }
          }
        }
      }
    }
  }
}